<div class="facility-details">
  <header>
    <a href="#" class="back-link">←</a>
    <h1>DeporPlaza Matamula</h1>
  </header>

  <div class="image-container">
    <img src="assets/images/campo1.png" alt="DeporPlaza Matamula">
  </div>

  <section class="availability">
    <h1>Turnos disponibles</h1>
    <div class="time-slots">
      <button>11:00</button>
      <button>14:00</button>
      <button>15:00</button>
      <button>19:00</button>
    </div>
    <div class="btnReserva">
      <button class="btn green" style="width: 222px;">Reservar</button>
    </div>
  </section>

  <div class="info-container">
    <section class="description">
      <p>
        ¡Bienvenidos a DeporPlaza Matamula, el espacio ideal para los entusiastas del deporte y el entretenimiento en familia! Nuestro complejo deportivo está diseñado para ofrecerte la mejor experiencia en reservas de canchas, equipado con instalaciones de primer nivel para garantizar comodidad y diversión. Ya sea que busques una tarde de fútbol, voleibol o cualquier otro deporte, tenemos la infraestructura perfecta para ti.
        <br>Nos esforzamos por ofrecer una experiencia integral y satisfactoria para todos nuestros miembros. Aquí te presentamos los servicios destacados que encontrarás en nuestras instalaciones:
      </p>
      <h2>Nuestras Instalaciones</h2>
      <ul>
        <li><strong>Vestuario:</strong> Contamos con vestuarios completamente equipados para tu comodidad antes y después de tus actividades. Cada espacio está diseñado para proporcionar privacidad y comodidad, asegurando que puedas prepararte y refrescarte en un ambiente limpio y acogedor.</li>
        <li><strong>Estacionamiento:</strong> Ofrecemos amplio estacionamiento dentro de las instalaciones, garantizando fácil acceso y seguridad para tu vehículo mientras disfrutas de nuestros servicios.</li>
        <li><strong>Ayuda médica:</strong> La seguridad y bienestar de nuestros miembros son primordiales. Disponemos de servicios de ayuda médica inmediata para atender cualquier incidente o necesidad de salud durante tus visitas.</li>
        <li><strong>Escuelita Deportiva:</strong> Fomentamos el desarrollo deportivo desde temprana edad con nuestra escuelita deportiva. Ofrecemos programas de entrenamiento para niños en diferentes disciplinas, guiados por instructores calificados y apasionados por el deporte.</li>
        <li><strong>Bar/Restaurante:</strong> Después de un día de actividad, relájate y socializa en nuestro bar/restaurante. Disfruta de una variedad de opciones gastronómicas y bebidas en un ambiente relajado y amigable.</li>
      </ul>
      <h4>Ubicación:</h4>
      <p>Jr. Belisario Flores #103, Lima, Perú</p>
      <h4>Horarios de Club:</h4>
      <p>
        Lunes, Martes, Jueves, Viernes 15:00 a 23:00<br>
        Miercoles: 8:00 a 16:00<br>
        Sábados : 8:00 a 23:00<br>
        Domingos: 8:00 a 21:00<br>
        Feriados: 8:00 a 23:00
      </p>
      <div class="rating">★★★★★</div>
    </section>

    <section class="map">
      <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18..." 
        width="350" 
        height="350" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy">
      </iframe>
    </section>
  </div>
</div>

  
